
/* Logo */

.logo {
  cursor: pointer;
  height: 3.25rem;
  margin-left: 2rem;
}

/* Search */

.search {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 0 0 40%;
 
  &__input {
    background-color: var(--color-grey-light-3);
    border: none;
    border-radius: 100px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    padding: 1rem 2rem;
    width: 90%;
    transition: all .2s;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::placeholder {
      color: var(--color-grey-light-4);
    }
  }

  &__button {
    background-color: var(--color-grey-light-3);
    border: none;
    cursor: pointer;
    margin-left: -3.25rem;
  
    &:focus {
      outline: none;
    }
  }

  &__icon {
    fill: var(--color-grey-dark-3);
    width: 2rem;
    height: 2rem;
  }
}

/* User navigation */

.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    cursor: pointer;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light-3);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1.1rem;
  }

  &__user-picture {
    border-radius: 50%;
    height: 3.75rem;
  }
  
}

/* Side nav */

.side-nav {
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: 300;

  &__item {
    cursor: pointer;
    list-style: none;
  }

  &__link {
    color: var(--color-grey-light-1);
    display: flex;
    text-decoration: none;
    padding: 1.5rem 2rem;

    &--active,
    &:hover {
      background-color: var(--color-primary);
    }

    &:active {
      background-color: var(--color-primary-light);
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__icon {
    fill: currentColor;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
  }

}

.legal {
  text-align: center;
  padding: 2rem 0;
}