
// Logo

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// Search

.search {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
 
  &__input {
    background-color: var(--color-grey-light-3);
    border: none;
    border-radius: 100px;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 300;
    margin-right: -3.25rem;
    padding: 1rem 2rem;
    width: 90%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-grey-light-4);
    }
  }

  &__button {
    background-color: var(--color-grey-light-3);
    border: none;
    cursor: pointer;
  }

  &__icon {
    fill: var(--color-grey-dark-3);
    width: 2rem;
    height: 2rem;
  }
}

// User navigation

.user-nav {

  &__icon-box {
  
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {

  }

  &__user {

  }

  &__user-picture {
    border-radius: 50%;
    height: 3.75rem;
  }

  &__user-name {

  }
  
}

