.container {
  box-shadow: var(--shadow-heavy);
  background-color: #fff;
  margin: 8rem auto;
  max-width: 120rem; 

  min-height: 50rem;
}

.header {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 7rem;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
}

.hotel-view {
  flex: 1;
}